In [1]:
# pandas 라이브러리를 Import하기
import pandas as pd

In [2]:
# 데이터 파일을 읽어오기
rock_samples = pd.read_csv('rocksamples.csv')

In [3]:
# 데이터프레임 처음과 마지막 5개행 확인하기
rock_samples.tail()

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
2224  79528  Apollo17  Breccia  Regolith        2.38         100.0
2225  79529  Apollo17  Breccia  Regolith        1.84         100.0
2226  79535  Apollo17  Breccia  Regolith        1.69         100.0
2227  79536  Apollo17  Breccia  Regolith        1.66         100.0
2228  79537  Apollo17  Breccia  Regolith        1.05         100.0

In [4]:
#rock_samples 데이터프레임 정보 확인하기
rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [8]:
#rock_samples 데이터프레임 행수 확인
rock_samples.shape[0]

2229

In [11]:
#rock_samples 데이터 프레임의 인덱스 확인
rock_samples.index

RangeIndex(start=0, stop=2229, step=1)

In [9]:
#rock_samples 데이터프레임 열수 확인
rock_samples.shape[1]

6

In [10]:
#rock_samples 데이터프레임의 모양 확인
rock_samples.shape

(2229, 6)

In [12]:
#rock_samples 데이터프레임의 컬럼명 확인
rock_samples.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [13]:
#rock_samples 데이터프레임 컬럼들의 데이터타입 확인
rock_samples.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [5]:
# rock_samples 데이터프레임 수치 데이터의 요약 통계 확인
rock_samples.describe()

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

In [6]:
rock_samples[rock_samples['Pristine (%)'] > 100]

         ID   Mission     Type      Subtype  Weight (g)  Pristine (%)
50    10070  Apollo11  Breccia     Regolith       60.16        112.50
82    12016  Apollo12   Basalt     Ilmenite     2028.00        100.08
91    12025  Apollo12     Core     Unsieved       56.10        163.41
123   12060  Apollo12     Soil     Unsieved       20.70        107.11
279   14288  Apollo14  Breccia   ImpactMelt        3.44        100.58
294   14306  Apollo14  Breccia   Fragmental      584.50        129.14
365   15024  Apollo15     Soil       4-10mm        3.60        106.11
424   15203  Apollo15     Soil        2-4mm        0.20        180.00
438   15230  Apollo15     Soil     Unsieved       99.10        100.24
465   15267  Apollo15  Breccia     Regolith        1.80        106.50
581   15504  Apollo15     Soil       4-10mm        4.10        100.73
697   15685  Apollo15  Breccia     Regolith        0.80        116.25
698   15686  Apollo15  Breccia     Regolith        0.90        117.22
699   15687  Apollo15  Breccia  Agglomerate        1.40        100.43
847   61284  Apollo16     Soil       4-10mm        0.00        102.10
1440  68824  Apollo16     Soil       4-10mm        1.50        103.60
1529  70184  Apollo17     Soil       4-10mm        1.68        101.73
1853  74120  Apollo17     Soil     Unsieved      124.10        100.20

## 각 컬럼별 누락값 검사

In [ ]:
# 1단계 -> rock_samples 데이터프레임에 null값이 있는지 확인

In [ ]:
#결측치 갯수 확인인. false:0, True:1
rock_samples.isnull().sum()

## 컬럼값 변환 : weight(g) -> weight(kg)

In [ ]:
rock_samples.head(2)

In [ ]:
rock_samples['Weight (g)']

In [ ]:
# 1단계 -> 컬럼값변환 : rock_samples['Weight (g)'] -> rock_samples['Weight (kg)]

In [ ]:
rock_samples.head()

In [ ]:
#2단계 -> 컬럼명 변환 : 'Weight(g)' -> 'Weight(kg)

## 아폴로 임무별 데이터 프레임 만들기 : missions

In [ ]:
# 빈 데이터 프레임을 만들고 변수 missions에 할당한다.

In [ ]:
type(missions)

In [ ]:
#rock_samples['Mission']의 중복되지 않은 고유값들을 알아본다.

In [ ]:
#위의 값들을 mission 데이터프레임의 새로운 컬럼인 mission['Mission']에 할당한다.

#### 아폴로 임무별 샘플 중량 총합

In [ ]:
# rock_samples 데이터프레임의 'Mission' 컬럼을 기준으로 그룹으로 나눈다 -> groupby()
# 나누어진 그룹에서 'weight (kg)' 컬럼의 총합을 구한다 -> groupby('Mission')['weight (kg)].sum()
# 결국 아폴로 달탐사 임무별로 수집해온 암석 샘플 총중량을 구해서 새로운 변수에 할당한다. -> 이 변수는 시리즈이다.

In [ ]:
# missions 데이터프레임과 sample_total_weight 시리즈를 병합한다.

In [ ]:
# 컬럼명을 'Weight (kg)' 을 'Sample weight (kg)'으로 변경한다.

In [ ]:
# 임무간 중량 차이 구하기

In [ ]:
# 아폴로 임무간의 수집해온 암석 샘플 총중량 차이를 나타내는 컬럼 'Weight diff'를 missions 데이터프레임에 추가

In [ ]:
# 아폴로 11은 그 전 달탐사가 없어 NaN 값을 가지므로 결측치 0으로 채우기
missions.fillna(value=0, inplace=True)

In [ ]:
# 달탐사선 = 달모듈 + 명령모듈 --> 이 둘을 합쳐서 승무원 모듈
# 달 모듈의 이름, 중량 컬럼을 missions 데이터프레임에 추가
달모듈이름 = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
달모듈중량 = [15103, 15235, 15264, 16430, 16445, 16456]

In [ ]:
# 아폴로 임무별로 달모듈 중량 차이를 구해서 새로운 컬럼 'LM mass diff'를 만들어서  missions 데이터프레임에 추가

In [ ]:
# 결측치가 있다면 0으로 채우기

In [ ]:
#명령모듈의 이름, 중량 컬럼을 missionms 데이터프레임에 추가
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

In [ ]:
#임무간 명령 모듈 중량 차이 구하기기
#아폴로 임무별로 명령모듈 중량 차이를 구해서 새로운 컬럼 'CM Mass diff'를 만들어 missions 데이터프레임에 추가

In [ ]:
# 승무원영역 = 달모듈 + 명령모듈
# 달 모듈과 명령모듈 중량을 합한 값을 'Total weight (kg)'라는 새로운 컬럼을 만들어 missions 데이터프레임에 추가

In [ ]:
# 승무원 영역을 나타내는 'Total weight (kg)'의 아폴로 임무별 중량 차이를 구하는 새로운 컬럼 'Total weight diff'를 missions 데이터프레임에 추가

In [ ]:
# 페이로드에서 승무원 영역이 차지하는 비율 구하기 -> 'Crewed area : Payload'
saturnVPayload = 43500
missions['Crewed area : Payload'] = missions['Total weight (kg)'] / saturnVPayload
missions

In [ ]:
# 승무원 영역에서 암석 샘플이 차지하는 비율 구하기 -> 'Sample : Crewed area'

In [ ]:
# 페이로드에서 샘플이 차지하는 비율 구하기 -> 'Sample : Payload'

## artemis_mission 데이터프레임 만들기

In [ ]:
artemis_crewedArea = 26520

artemis_dict = {'Mission' : ['artemis1', 'artemis1b', 'artemis2'],
                'Total weight (kg)' : [artemis_crewedArea, artemis_crewedArea, artemis_crewedArea],
                'Payload (kg)' : [26988, 37965, 42955]
               }

#딕셔너리를 데이터 프레임으로 저장하기
artemis_mission

In [ ]:
# missions 데이터프레임에서 'Crewed area : Payload', 'Sample : Crewed area', 'Sample : payload' 의 평균값을 구한다.

In [ ]:
# missions 데이터프레임에서 'Sample weight (kg)'의 총합을 구한다.

In [ ]:
#artemis_missions 데이터 프레임에 'Sample weight from total (kg)' 컬럼을 추가한다.

In [ ]:
#artemis_mission 데이터프레임에 'Sample weight from payload (kg)' 컬럼을 추가한다.

In [ ]:
# artemis_mission 데이터프레임에 'Estimated sample weight (kg)' 컬럼을 추가한다.

##아르테미스 임무에서 가져올 암석 종류 구하기

In [ ]:
# rock_samples의 5개 정보 확인하기

In [ ]:
# rock_samples 데이터프레임에 암석샘플의 남은 양을 나타내는 'Remaining (kg)' 컬럼추가

In [ ]:
# rock_samples 수치데이터 요약 통계 확인

In [ ]:
# rock_samples['Weight (kg)']의 모든 값이 0.16kg 이상 인지 확인

In [ ]:
# rock_samples['Weight (kg)']이 0.16kg 이상 이면서 rock_samples['Pristine (%)']이 50 이하인지 확인

In [ ]:
#위의 두 조건을 모두 만족하는 행만 추출해서 low_samples라는 데이터 프레임을 만든다.

In [ ]:
low_samples.info()

In [ ]:
# low_samples 데이터프레임에서 암석유형('Type')별로 개수를 센다.

In [ ]:
#low_samples['Type']의 값이 'Basalt'이거나 'Breccia' 인지 확인 -> isin(리스트)

In [ ]:
# low_samples['Type'] 의 값이 'Basalt'이거나 'Breccia'인 행만 추출해서 needed_samples 데이터프레임 만들기

In [ ]:
# needed_samples 정보확인

In [ ]:
# needed_samples 데이터프레임에서 'Type'으로 groupby해서 암석 샘플의 총중량의 합을 구한다

In [ ]:
# rock_samples 데이터프레임에서 'Type'으로 groupby 해서 암석 샘플의 중량의 합을 구한다. 
#           -> 아폴로 임무에서 처음부터 수집이 안된 암석을 구한다.

In [ ]:
rock_samples['Type'] == 'Crustal'

In [ ]:
# rock_samples에서 'Type'이 'Crustal'. 인 행만 추출한다.

In [ ]:
# needed_samples에 crustal을 추가한다.

In [ ]:
needed_samples.info()

In [ ]:
needed_samples.Type.unique()

In [ ]:
needed_samples['Type'].unique()

## needed samples overview 만들기

In [ ]:
## 아르테미스 임무에 전달할 최종 데이터프레임 needed_samples_overview 만든다.

In [ ]:
# needed samples 데이터프레임에서 중복되지 않은 암석유형을 추출한다.

In [ ]:
# needed_samples 데이터프레임에서 암석유형별('Type') 중량 합을 구한다.

needed_samples.groupby('Type')['Weight (kg)'].sum()

In [ ]:
needed_sample_weight = needed_samples.groupby('Type')['Weight (kg)'].sum().reset_index()
needed_sample_weight

In [ ]:
# 두 데이터프레임을 병합한다.

In [ ]:
# 컬럼명을 변경 'Weight (kg)' -> 'Total weight (kg)'

In [ ]:
# needed_samples 데이터프레임에서 암석유형별 중량의 평균을 구한다.

In [ ]:
# 두 데이터프레임을 병합한다.

In [ ]:
# 컬럼명을 변경 'Weight (kg)' -> 'Average weight (kg)'

In [ ]:
# rock_samples 데이터프레임에서 암석유형별('Type') 개수를 구해서 total_rock_count 라는 데이터프레임을 만든다.

In [ ]:
# 두 데이터프레임을 병합한다.

In [ ]:
# 컬럼명을 변경한다. 'ID' -> 'Number of samples'

needed_samples_overview.rename(columns={'ID' : 'Number of samples'}, inplace=True)
needed_samples_overview

In [ ]:
# needed_samples_overview['Number of samples'] 의 총합을 구하고 total_rocks에 할당

In [ ]:
# 각 암석유형별로 차지하는 비율을 구해서 'Percentage of rocks'라는 컬럼에 할당한다.

In [ ]:
artemis_mission

In [ ]:
# artemis_mission['Estimated sample weight (kg)']의 평균을 구해서 Artemis 달탐사의 에상 암석 중량을 구한다.

In [ ]:
# needed_samples_overview['Weight to collect'] 컬럼을 만든다.

In [ ]:
# 수집할 각각의 암석 개수를 알려준다.