# 2024-12-19

### 파이썬 기본 문법

In [4]:
print(1)
print(2)
print(3)

1
2
3

In [5]:
print('1')
print('2')
print('3')

1
2
3

In [6]:
print(1+2)

3

In [15]:
print('1+2')

1+2

In [3]:
print('hello world')

hello world

In [13]:
HELLO Python

SyntaxError: invalid syntax (3710955999.py, line 1)

In [14]:
hello, Python

NameError: name 'hello' is not defined

In [11]:
# 프린트문 연습
print('hello')
print('python')
print('홍길동','나이 =',20,'세')

hello
python
홍길동 나이 = 20 세

In [135]:
print('hi','yongseok',sep=' to the ') #sep='여기기에는 띄어쓰기 포함 모든게 다 포함됨' 기본값= ' ' (띄어쓰기기)
print('hi'+'yongseok')

hi to the yongseok
hiyongseok

In [138]:
print('hi',end=' * ') #end='여기기에는 띄어쓰기 포함 모든게 다 포함됨' 기본값: end = '\n' (줄바꾸기기)
print('yongseok')

hi
yongseok

# 변수

In [37]:
name = 'yongseok'
ag_if_num = 30

print(name,'나이 =',ag_if_num,'세')

yongseok 나이 = 30 세

In [39]:
print(type(bool('true')))

<class 'bool'>

In [41]:
a = 5+2
b = 5-2
c = 5*2
d = 5/2
e = 5//2
f = 5%2
g = 5**2
print(a,b,c,d,e,f,g)

7 3 10 2.5 2 1 25

In [49]:
a = 3
b = 4

print('합:', a+b)
print('빼기:', a-b)
print('곱:', a*b)
print('나눗셈:', a/b)
print('나머지:', a%b)

합: 7
빼기: -1
곱: 12
나눗셈: 0.75
나머지: 3

In [55]:
n = 3462

# d1 = print(n//1000)
# d2 = print(n//500)
# d3 = print(n//400)
# d4 = print(n//300)

d1000 = n//1000
d100 = (n//100)%10
d10 = (n//10)%10
d1 = n%10
print(d1000, d100, d10, d1)

3 4 6 2

In [57]:
pay = 1123456789

d1 = print(pay//100*100)

1123455678997600

In [40]:
# 업그레이드미션 2  

# Todo: 변수 a에 저장된 값의 b자리 값을 계산하여 변수 c에 저장하는 코드를 설계하라  

#예를 들어 a에 1234가 저장되어 있고 b가 1일 경우 첫 번째 자리값인 4가 c에 저장된다.  

#a가 1234일때 b가 4일 경우는 4번째 자리값인 1이 c에 저장되어야 한다.  

 


a = input('숫자를 입력하세요')
c = a[int(input(b))-1]
print(c)

4

In [62]:
print((3<5)and(4>1)) # 둘다 T 가나와야 T 임 / 하나라도 F 면 F 임
print((3>5)or(4<1)) # 둘다 F 가 나와야지 F값이 출력됨 / 하나라도 T 면 T 임
print(not(5>2))

True
False
False

In [80]:
print("'낮말'은 새가듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가듣고 '밤말'은 쥐가 듣는다.

In [102]:
samplestring = "life is too short, you need python"
print(samplestring[8],samplestring[9],samplestring[10],sep='')
print(samplestring[:3],samplestring[8],sep='')
print(type(samplestring[6]))

too
lift
<class 'str'>

# 사용자 입력

In [106]:
name = input('이름을 입력하세요: ')
print('사용자의 이름을 입력하세요: ', name)

사용자의 이름을 입력하세요:  yongsuk204

In [116]:
a = input('숫자를 넣어주세요:')
b = input('다음 더할 숫자를 넣어주세요:')

print(int(a),'+',int(b),'=',int(a) + int(b))

1 + 5 = 6

In [112]:
# 삼각형 넓이 구하기

a = input('한 변의 길이를 입력하세요')
b = input('다른 한 변의 길이를 입력하세요')

print((int(a)*int(b))/2)

50.0

In [5]:
# 음식값계산하기

# # 김   밥  : 3,000원 

# 떡볶이 : 3,500원 

# 라    면 : 2,500원 

a1 = 3000
b1 = 3500
c1 = 2500

a = input('김밥 주문갯수를 입력해주세요')
b = input('떡볶이 주문갯수를 입력하세요')
c = input('라면 주문갯수를 입력하세요')

a2 = print('김밥 주문 갯수', int(a))
b2 = print('떡볶이 주문 갯수', int(b))
c2 = print('라면면 주문 갯수', int(c))

print('합계: ', (int(a)*a1)+(int(b)*b1)+(int(c)*c1), '원 입니다.', sep='')

김밥 주문 갯수 1
떡볶이 주문 갯수 1
라면면 주문 갯수 1
합계: 9000원 입니다.

In [134]:
a = int(input('첫번째 값 입력'))
b = int(input('두번째 값 입력'))        # int는 정수값

print(f'{a} * {b} = {a*b}')

3 * 6 = 18

In [139]:
a = float(input('첫번째 값 입력'))      # float는 실수값
b = float(input('두번째 값 입력'))

print(f'{a:.3f} * {b:.1f} = {a*b:,.5f}')

1000.120 * 2000.5 = 2,000,697.05484

In [157]:
r = float(input('반지름 입력(cm):'))
print('반지름:', r , 'cm')
print('원의 둘레: ', f'{r*2*3.14:,.1f}', 'cm')
print('원의 넓이: ', f'{r**2*3.14:,.1f}', '㎠')

반지름: 150.698 cm
원의 둘레:  946.4 cm
원의 넓이:  71,309.0 ㎠

In [2]:
a = 'True'

print(a == True)
print(type(a))
print(type(True))
# 문자열 타입과 불 타입은 != 이기때문에 print(a == True)는 False 이다.

False
<class 'str'>
<class 'bool'>

# 조건문 만들기

In [ ]:
# if 조건:
#     명령

num = int(input('숫자를 입력하세요: '))

print('입력한 숫자는', num)
if num%2 == 0 :
    print('짝수입니다')     # 나머지가 1이면 True 판정으로 홀수
else:
    print('홀수입니다')     # 나머지가 0이면 False 판정으로 짝수

입력한 숫자는 5
홀수입니다

In [41]:
num = int(input('점수를 입력하세요: '))
if num>=90:
    print('A등급입니다.')
elif num>=80:
    print('B등급입니다')
elif num>=70:
    print('C등급입니다')
elif num>=60:
    print('D등급입니다')
elif 60>num:
    print('F등급입니다')

B등급입니다

In [ ]:
# year_num = str(input('출생연도를 입력해주세요'))
# a1 = year_num[-2:]
# print('출생연도: ', year_num)
# b1 = str(a1)[0]
# c1 = str(a1)[1]
# print('출생 끝자리: ', b1, c1)
# e1 = int(b1)
# f1 = int(c1)
# if e1 in(4, 9) or f1 in(4, 9):
#     print('목요일입니다.')
# elif e1 in(5, 0) or f1 in(5, 0):
#     print('금요일입니다.')


    # 출생연도 끝 2자리로 해버렸음... 다시해야함함

출생연도:  1245
출생 끝자리:  4 5
목요일입니다.

In [ ]:
year_num = str(input('출생연도를 입력해주세요'))

print('나이: ', 2024-int(year_num))
print('출생연도: ', year_num)
print('출생 끝자리: ', year_num[-1:])

b1 = int(a1)
if d1>65:
    print('언제든지 구매가능합니다')
elif b1 in (4, 9):          # 출생연도 끝자리가 4, 9 가 있으면
    print('목요일입니다.')
elif b1 in (5, 0):
    print('금요일입니다.')
elif b1 in (1, 6):
    print('월요일입니다.')
elif b1 in (2, 7):
    print('화요일입니다.')
else :
    print('수요일입니다.')

나이:  790
출생연도:  1234
출생 끝자리:  4
언제든지 구매가능합니다

In [38]:
day_number = int(input('오늘 날짜를 입력하세요'))
car_number = input('차량번호 입력하세요(ex: 1234)')

if day_number >31 or day_number ==0 :                           # if문은 True이면 다른 if문으로 넘어간다, elif는 if문이 거짓일때 elif조건문을 실행함
    print('잘못된 날짜입니다. 다시 입력해주세요.')
elif not car_number.isdigit() or len(car_number) !=4 :          # 위에 if문이 False이기 때문에 여기로옴, 주어진조건 True이면 다른 if문으로 넘어감(바로 밑 elif로 넘어가는게 아님)
    print('잘못된 차량번호 입니다.')
elif int(car_number)%2 == 0 and day_number%2 == 0:              # 위에 if문이 False이기 때문에 여기로옴, 주어진조건 True이면 다른 if문으로 넘어감(조건2개 둘 다 맞아야함, 바로 밑 elif로 넘어가는게 아님)
    print('짝수차량 운행일입니다.')
    print('운행 가능합니다.')
elif not(int(car_number)%2 == 0 and day_number%2 == 0):
    print('홀수차량 운행일입니다.')
    print('운행 불가능합니다.')
elif int(car_number)%2 != 0 and day_number%2 != 0:
    print('홀수차량 운행일입니다.')
    print('운행 가능합니다.')
elif not(int(car_number)%2 != 0 and day_number%2 != 0):
    print('짝수차량 운행일입니다.')
    print('운행 불가능합니다.')

print('오늘날짜는\'', day_number, '\'일입니다.', sep='')
print('차량번호는\'', car_number, '\'입니다.', sep='')

짝수차량 운행일입니다.
운행 가능합니다.
오늘날짜는'12'일입니다.
차량번호는' 1234 '입니다.

In [9]:
user_name = input('이름을 입력해주세요: ')
user_visit = input('방문횟수를 입력하세요: ')

print(f'{user_name}님 안녕하세요!')
print(f'오늘까지 총 {int(user_visit)+1}회 방문하였어요.')

용석님 안녕하세요!
오늘까지 총 12회 방문하였어요.

In [19]:
jumin = '951013-1234567'

sex = jumin[7]
birth_month = jumin[2:4]
birth_day = jumin[4:6]
birth_year = '19'+jumin[0:2]
jumin_num = jumin[7:]

print('성별: ' + sex)
print('출생연도: ' + birth_year)
print('주민등록번호 뒷자리: ' + jumin_num)


# 떠올리기 업그레이드 미션1 -> 거꾸로 적어 내기 

string = " 이번역은 역삼역, 역삼역입니다. 앞으로 읽어도 역삼역 거꾸로 읽어도 역삼역" 

print(string[::-1])

성별: 1
출생연도: 1995
주민등록번호 뒷자리: 1234567
역삼역 도어읽 로꾸거 역삼역 도어읽 로으앞 .다니입역삼역 ,역삼역 은역번이

In [126]:
user_id = 'admin'
user_pw = '1234'

input_id = input('아이디를 입력하세요: ')
input_pw = input('패스워드를 입력하세요: ')

if input_id != user_id:
    print('로그인 실패')
    print('등록되지않은 아이디입니다.')
elif input_pw != user_pw:
    print('로그인 실패')
    print('틀린 비밀번호 입니다.')
else :
    print('로그인 성공')

로그인 실패
틀린 비밀번호 입니다.

# while 명령어

In [30]:
while 조건식:
    명령어

NameError: name '조건식' is not defined

In [39]:
i = 10
while i > 0:
    print(f'{i}커피갯수가가 남았습니다')
    i = i - 1
print('반복문종료')

10커피갯수가가 남았습니다
9커피갯수가가 남았습니다
8커피갯수가가 남았습니다
7커피갯수가가 남았습니다
6커피갯수가가 남았습니다
5커피갯수가가 남았습니다
4커피갯수가가 남았습니다
3커피갯수가가 남았습니다
2커피갯수가가 남았습니다
1커피갯수가가 남았습니다
반복문종료

In [44]:


i = 0
while i < 20:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [54]:
i = 0
i_add = 0
end_num = int(input('원하는 숫자를 입력하세요요'))
while i < end_num:
    i += 1
    i_add += i
    print(i)
    print(i_add)
print(f'1부터{end_num}까지의 합은 {i_add}입니다')

# 곱, 나누기, 짝수만, 홀수만 만들어보기기

1
1
2
3
3
6
1부터3까지의 합은 6입니다

In [52]:
prompt = """
1. ADD
2. Del
3. Quit

Enter number:
"""
input_num = 0

while input_num !=3:
    print(prompt)
    input_num = int(input())

1. ADD
2. Del
3. Quit

Enter number:


1. ADD
2. Del
3. Quit

Enter number:

In [61]:
for i in range(0,10,2):
    print(i)

for i in range(10,0,-1):
    print(i)

0
2
4
6
8
10
9
8
7
6
5
4
3
2
1

In [71]:
# i = 0
# i_add = 0

# for i in range(int(input('원하는 숫자를 넣으세요'))):
#     i += 1
#     i_add+=i
#     print(i_add)

1
3
6
10
15

In [85]:
dan = int(input('출력할 단 입력'))

for i in range(1,10):
    print(f'{dan}*{i}={i*dan}')

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [172]:
dan = int(input('출력할 단 입력'))
i = 0
while i <10:
    i +=1
    print(f'{dan}*{i}={i*dan}', end='\t')

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18	2*10=20

In [185]:
i = 1
b = 2
for i in range(1,10):
    for b in range(2,10):
        print(f'{b}*{i}={i*b:<3d}', end='\t')
        print('\n')

# 다시해야함
    # print(f'{1}*{i}={1*i:<3}', end=' ')
    # print(f'{2}*{i}={2*i:<3}', end=' ')
    # print(f'{3}*{i}={3*i:<3}', end=' ')
    # print(f'{4}*{i}={4*i:<3}', end=' ')
    # print(f'{5}*{i}={5*i:<3}', end=' ')
    # print(f'{6}*{i}={6*i:<3}', end=' ')
    # print(f'{7}*{i}={7*i:<3}', end=' ')
    # print(f'{8}*{i}={8*i:<3}', end=' ')
    # print(f'{9}*{i}={9*i:<3}')

2*1=2

3*1=3

4*1=4

5*1=5

6*1=6

7*1=7

8*1=8

9*1=9

2*2=4

3*2=6

4*2=8

5*2=10

6*2=12

7*2=14

8*2=16

9*2=18

2*3=6

3*3=9

4*3=12

5*3=15

6*3=18

7*3=21

8*3=24

9*3=27

2*4=8

3*4=12

4*4=16

5*4=20

6*4=24

7*4=28

8*4=32

9*4=36

2*5=10

3*5=15

4*5=20

5*5=25

6*5=30

7*5=35

8*5=40

9*5=45

2*6=12

3*6=18

4*6=24

5*6=30

6*6=36

7*6=42

8*6=48

9*6=54

2*7=14

3*7=21

4*7=28

5*7=35

6*7=42

7*7=49

8*7=56

9*7=63

2*8=16

3*8=24

4*8=32

5*8=40

6*8=48

7*8=56

8*8=64

9*8=72

2*9=18

3*9=27

4*9=36

5*9=45

6*9=54

7*9=63

8*9=72

9*9=81

In [187]:
# use break 
hap = 0
for i in range(1,11):
    hap +=i
    if hap >= 20: # >= 를 == 로쓰면 20이 되는 순간이 없기때문에 다 더해버림 / 조건에 해당되는 순간에 브레이크를 걸겠음음
        print(i)
        break
print(hap)

6
21

In [1]:
# continue

hap = 0
for i in range(1,11):
    if i % 2 ==0:
        continue
    print(i, end=' ')
    hap += i


print('\n', hap)

1 3 5 7 9
 25

In [5]:
import random


answer = random.randint(1,100)
print(answer)
i = 0
while True:
    user_number = int(input('1부터 100사이의 숫자를 맞춰주세요: '))
    i += 1
    print(f'시도횟수: {i}')
    if answer > user_number :
        print('입력한 숫자가 작습니다.')
    elif answer < user_number :
        print('입력한 숫자가 큽니다.')
        continue
    elif answer == user_number :
        print('정답입니다.')
        break

52
시도횟수: 1
입력한 숫자가 큽니다.
시도횟수: 2
입력한 숫자가 큽니다.
시도횟수: 3
입력한 숫자가 큽니다.
시도횟수: 4
입력한 숫자가 큽니다.
시도횟수: 5
정답입니다.

In [28]:

x = 0

while True:
    x += 1
    if x >= 20:
        break
    elif x % 3 ==0 or x % 5 == 0:
        continue
    print(x, end=' ')

1 2 4 7 8 11 13 14 16 17 19

In [53]:
for i in range(1,20):
    if i % 2 == 0:
        continue
    print(i*'*')

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [58]:
for i in range(1,11):
    print('*' * (2*i-1))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************
/n

# 자료형

In [10]:
a = [1234124, '문자문자문자', ['안녕', 234235, 3, 'b'], '반복문 어렵다', '그래도 하다보면 괜찮아아']
print(a)
print(type(a))

print(a[0])
print(a[:3])
print(a[:3][2][0])

[1234124, '문자문자문자', ['안녕', 234235, 3, 'b'], '반복문 어렵다', '그래도 하다보면 괜찮아아']
<class 'list'>
1234124
[1234124, '문자문자문자', ['안녕', 234235, 3, 'b']]
안녕

In [14]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

print(a[3][0], a[3][1])
print(a[3][:2])

a b
['a', 'b']

In [31]:
a = [10, 20, 30, 40, 50]
a[1:5] = [100] # 100이라는 숫자는 한개인데 슬라이싱은 1개 이상이라서 부족한 갯수는 사라짐
print(a)

b = [10, 20, 30, 40, 50]
b[2] = 100
b[3:5] = [200, 200] # 2개이상 변화시킬때 [] 써줘야함함
print(b)

c = [10, 20, 30, 40, 50]

[10, 100]
[10, 20, 100, 200, 200]

In [2]:
fruits = ['apple', 'banana']

In [3]:
fruits.append('cherry')
print(fruits)

['apple', 'banana', 'cherry']

In [5]:
fruits.insert(1, 'mango')
print(fruits)

['apple', 'mango', 'mango', 'mango', 'banana']

In [3]:
score = [100, 30, 50, 80, 90, 70]
print(score)
score.sort()
print(score)

score.sort(reverse=True)
print(score)

[100, 30, 50, 80, 90, 70]
[30, 50, 70, 80, 90, 100]
[100, 90, 80, 70, 50, 30]

In [5]:
score2 = [100, 30, 50, 80, 90, 70]

score2.reverse()
print(score2)

[70, 90, 80, 50, 30, 100]

In [1]:
score3 = [100,50, 30, 50, 80,50, 90, 70]

a = sum(score3) / len(score3)
print(a)

65.0

In [12]:
score_test = [90, 25, 67, 45, 80]
f = 1

for i in score_test:
    print(f'{f}번학생은 ', end='')
    f +=1
    if i >= 60 :
        print('합격입니다')
    else :
        print('불합격입니다')

1번학생은 합격입니다
2번학생은 불합격입니다
3번학생은 합격입니다
4번학생은 불합격입니다
5번학생은 합격입니다

In [19]:
print('끝말잇기 게임')
print('시작')
var = '가나다'
print(var)
while True:
    a = input('단어를 입력해주세요: ')
    if var[-1] == a[0]:
        var = a
        print(a)
    else:
        print('끝')
        break

끝말잇기 게임
시작
가나다
다람쥐
쥐방울
울림대
대학
끝